In [20]:
import pandas as pd

In [21]:
from pathlib import Path

In [22]:
import funcoes as f

In [23]:
df = pd.read_csv(Path("../Data/vehicles.csv"))
df.head

<bound method NDFrame.head of        price  model_year           model  condition  cylinders fuel  odometer  \
0       9400      2011.0          bmw x5       good        6.0  gas  145000.0
1      25500         NaN      ford f-150       good        6.0  gas   88705.0
2       5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3       1500      2003.0      ford f-150       fair        8.0  gas       NaN
4      14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0
...      ...         ...             ...        ...        ...  ...       ...
51520   9249      2013.0   nissan maxima   like new        6.0  gas   88136.0
51521   2700      2002.0     honda civic    salvage        4.0  gas  181500.0
51522   3950      2009.0  hyundai sonata  excellent        4.0  gas  128000.0
51523   7455      2013.0  toyota corolla       good        4.0  gas  139573.0
51524   6300      2014.0   nissan altima       good        4.0  gas       NaN

      transmission    type paint_color  is_4wd date_posted  days_listed
0        automatic     SUV         NaN     1.0  2018-06-23           19
1        automatic  pickup       white     1.0  2018-10-19           50
2        automatic   sedan         red     NaN  2019-02-07           79
3        automatic  pickup         NaN     NaN  2019-03-22            9
4        automatic   sedan       black     NaN  2019-04-02           28
...            ...     ...         ...     ...         ...          ...
51520    automatic   sedan       black     NaN  2018-10-03           37
51521    automatic   sedan       white     NaN  2018-11-14           22
51522    automatic   sedan        blue     NaN  2018-11-15           32
51523    automatic   sedan       black     NaN  2018-07-02           71
51524    automatic   sedan         NaN     NaN  2018-06-05           10

[51525 rows x 13 columns]>

In [24]:
df.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [25]:
df.duplicated().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [26]:
print(len(df))
print(df['price'].max())
print(df['price'].min())

51525
375000
1

In [27]:
df = f.remover_outliers(df, 'price')

AttributeError: module 'funcoes' has no attribute 'remover_outliers'

In [ ]:
print(len(df))
print(df['price'].max())
print(df['price'].min())

49436
32211
1